<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sinc.ssgfun.mapper.att">
 	<!-- SQL -->
 	
 	<select id="attInfo" parameterType="com.sinc.ssgfun.vo.UserVO" resultType="com.sinc.ssgfun.vo.AttendVO">
 		SELECT	EANO,
 				EACNT,
 				EAATTCNT,
 				EAHISTDATE,
 				REGDATE,
 				MODDATE,
 				UNO
 		FROM	T_EVENT_ATT
 		WHERE	UNO = #{uno}
 	</select>
 	
 	<update id="attCheck" parameterType="com.sinc.ssgfun.vo.UserVO" >
		UPDATE	T_EVENT_ATT
		SET		EACNT = EACNT + 1,
				REGDATE = DEFAULT,
				EAATTCNT = EAATTCNT + 1
		WHERE	UNO = #{uno}
		<!-- AND		TO_CHAR(REGDATE, 'MM/DD') != TO_CHAR(SYSDATE, 'MM/DD') -->
 	</update>

 	<update id="play" parameterType="com.sinc.ssgfun.vo.AttendVO" >
		UPDATE	T_EVENT_ATT
		SET		EACNT = EACNT - 1
		WHERE	UNO = #{uno}
 	</update>
 	
</mapper>  

